
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @{
        Html.RenderPartial("_VisitorTopMenu");
    }
</div>
<div class="guest">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 centered">
                    <input type="hidden" value="@Session["isAdmin"]" id="hdnIsAdmin" />
                    <div id="" class="well centered"  style="height:-webkit-fill-available;"tabindex="-1" role="dialog">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <img src="~/Images/media.png" />
                            </div>
                            <div class="col-md-12">
                                <p style="text-align:center;color:#103684;font-family:'Bell MT'">Buy Social media followers cheap at social lacasa</p>
                            </div>
                        </div>
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content" style="height:-webkit-fill-available;">
                               
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <p style="text-align:center;color:#103684;font-family:'Bell MT'">Social Lacasa - Social Media Marketing </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p style="text-align:center;color:#103684;font-family:'Bell MT'">Twitter - Instagram - Facebook - Snapchat - & Much More</p>
                                    </div>
                                    <div class="signInWell">

                                        <form method="post" action="/auth" id="signInForm">
                                            <div class="alert alert-danger hidden"></div>

                                            <div class="form-group">
                                                <label style="display:none;" for="username" class="control-label">Username</label>
                                                <input type="text" class="form-control" id="txtusername" name="username" placeholder="Username" required>
                                            </div>
                                            <div class="form-group">
                                                <label style="display:none;" for="password" class="control-label">Password</label>
                                                <input type="password" class="form-control" id="txtpassword" name="password" placeholder="Password" required>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="LoginForm[remember]" value="1" id="remember">Remember me
                                                </label>
                                            </div>


                                            <input type="hidden" name="_csrf" value="Oi06lb-nIJ_HW6kVGNUiZZNH4HWJ8qZHx9Nu3gq6iVRNaA-45cNT5qgP4yIt-Elc4nDSPfmZ_nWQhgHzXszgHA==">
                                            @*<button type="submit" class="btn btn-primary">Sign in</button>*@
                                            <input type="button" class="btn btn-primary" value="Sign in" onclick="LoginUser();" />
                                            <span class="pull-right-middle">Do not have an account? <a href="/Visitor/signup">Sign up</a></span>
                                            @* <span class="pull-right pull-right-middle">Do not have an account? <a href="/Visitor/SignUp">Sign up</a></span>*@
                                        </form>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <p style="text-align:center;color:#103684;font-family:'Bell MT'">We accept</p>
                                        </div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <img src="~/Images/pp.png.png" />
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <p style="text-align:center;color:#103684;font-family:'Bell MT'">Automatic deposit provide all IG social media services</p>
                                    </div>
                                    <div class="col-md-12">
                                        <p style="text-align:center;color:#103684;font-family:'Bell MT'">Accept: Paypal - Cashu - CC -  Western Union - Payoneer</p>
                                    </div>
                                    <div class="col-md-12">
                                        <p style="text-align:center;color:#103684;font-family:'Bell MT'">Professional support team 24/7 always ready to help you!</p>
                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>









                <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>



                @section Scripts
{

                    <script src="@Url.Content("~/Custom/JS/SignIn.js")"></script>
                    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
                    <script>
                        $(document).ready(function () {
                            var letCollapseWidth = false,
                                paddingValue = 30,
                                sumWidth = $('.navbar-right-block').width() + $('.navbar-left-block').width() + $('.navbar-brand').width() + paddingValue;

                            $(window).on('resize', function () {
                                navbarResizerFunc();
                            });

                            var navbarResizerFunc = function navbarResizerFunc() {
                                if (sumWidth <= $(window).width()) {
                                    if (letCollapseWidth && letCollapseWidth <= $(window).width()) {
                                        $('#navbar').addClass('navbar-collapse');
                                        $('#navbar').removeClass('navbar-collapsed');
                                        $('nav').removeClass('navbar-collapsed-before');
                                        letCollapseWidth = false;
                                    }
                                } else {
                                    $('#navbar').removeClass('navbar-collapse');
                                    $('#navbar').addClass('navbar-collapsed');
                                    $('nav').addClass('navbar-collapsed-before');
                                    letCollapseWidth = $(window).width();
                                }
                            };

                            if ($(window).width() >= 768) {
                                navbarResizerFunc();
                            }
                        });

                        <script type="text/javascript">
                            if(location.pathname=="/auth") {
                                $('#signInModal').modal('show');
                            }
                            if(location.pathname=="/") {
                                $('body').addClass('guest');
                            $('body').addClass('homePage');
                        }
                    </script>



                    </script>
                }
